
<% if @game.round_number > 1 %>
	<% if @game.round_winner != nil %>
		<h1><%= @game.round_winner.name %> wins the round!</h1>
	<% else %>
		<h1>Tie Round </h1>
	<% end %>
<% end %>

<h1>Round <%= @game.round_number %>... Fight!</h1>

<table>
	<thead>
		<th><%= @game.p1.name %> score:</th>
		<th><%= @game.p2.name %> score:</th>
	</thead>
	<tbody>
		<td><%= @game.p1.score %></td>
		<td><%= @game.p2.score %></td>
	</tbody>
</table>

<form action="/play_round" method="post">
	<p>Player 1 choose rock, paper, or scissors: 
		<input type="radio" name = "p1choice" value="rock">Rock
		<input type="radio" name = "p1choice" value="paper">Paper
		<input type="radio" name = "p1choice" value="scissors">Scissors
	</p>

	<p>Player 2 choose rock, paper, or scissors: 
		<input type="radio" name = "p2choice" value="rock">Rock
		<input type="radio" name = "p2choice" value="paper">Paper
		<input type="radio" name = "p2choice" value="scissors">Scissors
	</p>

	<input type="submit">
</form>
